HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Added by Chuck ###
properties.yml
application.properties
database.properties
tmp/
target/

### logging
src/main/java/com/rumpus/rumpus/log/
src/test/java/com/rumpus/rumpus/log/

### Node
node/
node_modules/
package-lock.json
src/main/resources/static/js/*
src/main/resources/static/css/rumpus-styles.css

######################

test.log
src/main/js/common/
**/__pycache__/
**/__PYCACHE__/

# ignore tools at root
/tools/

# ignore files in out directory of tools
src/main/java/com/rumpus/rumpus/tools/out/*

.DS_Store

# CSS Source Maps
*.css.map
*.scss.map
*.sass.map

.env
