HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Added by Chuck ###
# Ignore all YAML files in resources/properties
/src/main/resources/properties/**/*.yml

# Ignore backup
/src/main/resources/backup/

# But keep templates
!src/main/resources/properties/*-template.yml

# Keep application.yml at the top level
!src/main/resources/application.yml

# Keep README
!src/main/resources/README.md

# Keep directory structure
!src/main/resources/properties/
!src/main/resources/properties/dev/

# Ignore all other files in dev folder (secrets)
src/main/resources/properties/dev/*

# Look at this file later. We can probably remove.
src/test/resources/properties.yml

tmp/
target/

### logging
src/main/java/com/rumpus/rumpus/log/
src/test/java/com/rumpus/rumpus/log/

### Node
node/
node_modules/
package-lock.json
src/main/resources/static/js/*
src/main/resources/static/css/rumpus-styles.css

######################

test.log
src/main/js/common/
**/__pycache__/
**/__PYCACHE__/

# ignore tools at root
/tools/

# ignore files in out directory of tools
src/main/java/com/rumpus/rumpus/tools/out/*

.DS_Store

# CSS Source Maps
*.css.map
*.scss.map
*.sass.map

.env
