<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>rumpus</title>
        <link rel="stylesheet" href="/css/rumpus-styles.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body class="m-5">

        <div th:replace="~{fragments/header :: header}">Header</div>
        <div th:replace="~{fragments/user/login :: login}">Login</div>
        <div th:replace="~{fragments/user/signup :: signup}">Signup</div>
        <div th:replace="~{fragments/user/update :: update_user}">Update</div>

        <div id="root"></div>

        <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>

        <!-- keep this at bottom of body -->
        <script src="../js/app.bundle.js"></script>
    </body>
</html>