<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" href="/css/rumpus-styles.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <!--/*  Multiple fragments may be defined in one file */-->
    <div id="footer"></div>
    <div th:fragment="footer" th:align="center">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-fifths">
                <div class="columns">
                    <div class="column">
                        Useful
                    </div>
                    <div class="column">
                        Support
                    </div>
                    <div class="column">
                        Extras
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        <span>Rumpus</span>
    </div>

    <div th:fragment="footer-admin" th:align="center">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        <span>Rumpus </span><span th:text="${@environment.getProperty('app.version')}"></span>
    </div>

</body>
</html>

