<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" href="/css/rumpus-styles.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <!--/*  Multiple fragments may be defined in one file */-->
    <div id="user_table"></div>
    <div th:fragment="user_table" th:align="center">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-fifths">
                <div id="user_table"></div>
                <!-- <div class="columns">
                    <div class="column">
                        Useful
                    </div>
                    <div class="column">
                        Support
                    </div>
                    <div class="column">
                        Extras
                    </div>
                </div> -->
            </div>
            <div class="column"></div>
        </div>
    </div>

    <script src="js/app.bundle.js"></script> <!-- keep this at bottom of body -->
    
</body>
</html>

